.branchPageContainer {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.headAndPlaylistcontainer > .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  line-height: 1;
}

.headAndPlaylistcontainer > .head > .hello {
  font-size: 2rem;
  font-weight: bold;
  color: #5a76ac;
}

.headAndPlaylistcontainer > .head > .screen {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #576886;
}
.branchPageContainer > .playlistsContainer {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin: 10px;
}
.branchPageContainer > .playlistsContainer > .list {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.branchPageContainer > .playlistsContainer > .playlistLink {
  text-align: left;
  line-height: 2;
}
.branchPageContainer > .playlistsContainer > span {
  line-height: 1;
  font-size: 1.1rem;
}
.branchPageContainer > .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0.5rem;
}

.playlist {
  margin-left: 0.5rem;
  box-shadow: 0px 0px 5px 2px #969494;
  flex: 1;
}

.headAndPlaylistcontainer {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.selectOrCreate {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  color: #0685f5;
  flex-direction: column;
  line-height: 2;
}
