.createPlaylist { 
    background: rgb(210, 226, 239);
}
.createPlaylist > .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.close { 
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../../images/close1.png") no-repeat center ;
    background-size: contain;
}