body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}

.app {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

button {
  background-color: #f88224 !important;
  color: #fff !important;
}

button:hover {
  background-color: #ca5d04 !important;
}

.spaceBetWeen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerByFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDisabled {
  opacity: 0.3 !important;
  border: 1px dashed black !important;
}

.margin0Auto {
  margin: 0 auto;
}

.margin05 {
  margin: 0.5rem;
}
.padding05 {
  padding: 0.5rem;
}
.backgroundFFF {
  background-color: #fff !important;
}

.spaceEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}

body #modal-root {
  position: relative;
  z-index: 999;
}

body .modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(2px);
}

body .react-confirm-alert-overlay 
{
	background: rgba(0, 0, 0, 0.5);
}
body .react-confirm-alert-overlay .react-confirm-alert
{
	box-shadow: rgb(64, 64, 64) -1px 3px 6px 4px;
}
body .react-confirm-alert-overlay .react-confirm-alert .react-confirm-alert-body
{
	border-radius: 0;
}