body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}

.app {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

button {
  background-color: #6c96b5 !important;
  color: #fff !important;
}

button:hover {
  background-color: #1a4b73 !important;
}

.spaceBetWeen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerByFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDisabled {
  opacity: 0.3 !important;
  border: 1px dashed black !important;
}

.margin0Auto {
  margin: 0 auto;
}

.backgoundFFF {
  background-color: #fff !important;
}